<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">

    <!-- 业务层和持久层的 Spring 配置文件，这些配置文件被父 Spring 容器所使用 -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            classpath:spring-biz.xml
        </param-value>
    </context-param>

    <!--wjh：没有这个，配置的文件都没用-->
    <listener>
        <description>spring监听器</description>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <!-- 防止spring内存溢出监听器 -->
    <!-- <listener> <listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
        </listener> -->
   <!-- <filter>
        <description>字符集过滤器</description>
        <filter-name>encodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <description>字符集编码</description>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>-->


    <!--
    <filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>
   <filter-mapping>
        <filter-name>springSecurityFilterChain</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
   -->

    <welcome-file-list>
        <welcome-file>pages/index.jsp</welcome-file>
    </welcome-file-list>

    <!--springmvc之jstlView使用-->
    <!--spring mvc servlet -->
    <!--默认加载web-inf下XXX-servlet.xml文件 -->
    <!--WEB-INF下的springmvc的配置文件：springmvc-servlet.xml-->
    <!--wjh：servlet-name.xml-->
    <servlet>
        <description>spring mvc servlet</description>
        <servlet-name>springMvc</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <description>spring mvc</description>
            <param-name>contextConfigLocation</param-name>
            <param-value>
                classpath:spring-web.xml
                <!--classpath:spring-task.xml-->
            </param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <!--作用在Controller-->
    <servlet-mapping>
        <servlet-name>springMvc</servlet-name>
        <url-pattern>*.action</url-pattern>
        <url-pattern>*.json</url-pattern>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>


</web-app>